<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdf.dao.TeacherDao"> <!--必须是对应的dao接口的全类名-->
    <!--根据id查询指定的老师信息-->
     <select id="selectTeacherByID" resultType="Teacher">
         SELECT  tid,tname from  teacher where tid=#{xxx}
     </select>
    <!--根据id查询指定的老师信息2-->
     <select id="selectTeacherByID2" resultType="Teacher">
         SELECT  tid,tname from  teacher where tid=#{xxx}
     </select>

    <!--新增teacher-->
    <insert id="insertTeacher" parameterType="Teacher" >
        insert into  teacher(tid,tname) values(#{tid},#{tName})
    </insert>


</mapper>